/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans',sans-serif;
    font-weight: bold;
}


/* Layout generic classes */
.col{
    float: left;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/* HEADER */
header{
    height: 100px;
    background-color: white;
}
nav{
    line-height: 100px;
}
.logo img{
    vertical-align: middle;
    padding: 0px 20px;
}
/* MENU */
.logo{
    width: 10%;
    margin: auto;
}
.menu{
    width: 45%;
}
.left-menu{
    list-style-type: none;
    text-align: left;
}
.left-menu li{
    display: inline-block;
    margin: 3px 20px;
}
.left-menu a{
    text-decoration: none;
    color: black;
}
.right-menu{
    list-style-type: none;
    text-align: right;
}
.right-menu li{
    display: inline-block;
    margin: 3px 20px;
}
.right-menu a{
    text-decoration: none;
    color: black;
}
/* BUTTONS */
.btn-blue{
    padding: 7px 18px;
    background-color: #0061ff;
    color: white;
    text-decoration: none;
}
.btn-medium{
    padding: 10px 20px;
}
.btn-big{
    padding: 10px 40px;
    text-align: center;
}

/* MAIN */

.container-top{
    width: 80%;
    margin: auto;
    text-align: center;
}
.container{
    width: 65%;
    margin: auto;
}
.jumbotron{
    background-color: #b4d0e7;
    width: 100%;
    height: 900px;
}
.jumbotron-content{
    padding: 80px 0px;
    text-align: left;
}
.jumbotron-content h1{
    font-size: 85px;
}

/* Advantages */

.advantages .col-image{
    width: 70%;
    position: relative;
    margin-bottom: 100px;
}
.advantages .col-text{
    width: 30%;
    padding-right: 30px;
    text-align: left;
    font-size: 16px;
}
img{
    width: 100%;
}
.text{
    margin-bottom: 40px;
}
.sottotesto{
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 14px;
}
.arrow{
    font-size: 50px;
}
h2{
    font-size: 40px;
    text-align: left;
    padding: 50px 0px;
}
.fatturazione{
    vertical-align: middle;
}
.square{
    display: inline-block;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    position: relative;
    vertical-align: middle;
    margin-bottom: 4px;
    /* usare hover */
}
.square-blu{
    border: 5px solid #0061ff;
}
.square-gray{
    border: 1px solid gray;
}
.periodo{
    margin-right: 20px;
}
/* COLONNE MAIN */
.benefits{
    width: 28%;
    border: 1px solid #d4d4d7;
    margin-right: 5%;
    margin-top: 40px;
}
.head{
    border-bottom: 1px solid #d4d4d7;
    height: 50px;
    text-align: center;
    padding-top: 15px;
}
/* CONTENUTO COLONNE */
.benefits-col{
    padding: 30px;
}
h3{
    font-size: 28px;
    margin: 8px 0px;
}
h4{
    margin: 12px 0px;
}
.color-mese{
    color: #697986;
}
.top-lyst{
    margin-top: 30px;
    list-style-type: none;
}
li{
    font-size: 14px;
    padding: 15px 0px;
    padding-left: 20px;
}
ul{
    margin-bottom: 50px;
}
.icon{
    margin-left: -10px;
}
.buy{
    padding-top: 40px;
}
.color-buy{
    color: #0765ff;
    text-decoration: none;
}
.line{
    width: 56px;
    height: 1px;
    border: 1px solid #d4d4d7;
    margin: 40px 0px;
}
.bottom-lyst{
    list-style-type: none;
}
.fa-check{
    color: #0061ff;
}
/* enterprise */
.enterprise{
    width: 100%;
    border: 1px solid #d4d4d7;
    margin-top: 60px;
    margin-bottom: 120px;
}
.enterprice-left{
    width: 65%;
    line-height: 30px;
    margin-left: 30px 0px 30px 0px;
    height: 180px;
}
.enterprice-right{
    width: 35%;
    text-align: center;
    line-height: 130px;
    height: 180px;
}
.size-span{
    font-weight: normal;
    font-size: 15px;
}
.enterprice-left-content{
    padding: 30px 0px 0px 30px;
}
/* FINE COLONNE */
.partner{
    padding-top: 80px;
}
.partner .col-image{
    width: 50%;
    margin-bottom: 50px;
}
partner .col-text{
    width: 45%;
    margin-left: 40px;
}
p{font-weight: normal;}
.business{
    width: 28%;
    border: 1px solid #d4d4d7;
    margin-right: 5%;
}