/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans',sans-serif;
    font-weight: bold;
}


/* Layout generic classes */
.col{
    float: left;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/* HEADER */
header{
    height: 100px;
    background-color: white;
}
nav{
    line-height: 100px;
}
.logo img{
    vertical-align: middle;
    padding: 0px 20px;
}
/* MENU */
.logo{
    width: 10%;
    margin: auto;
}
.menu{
    width: 45%;
}
.left-menu{
    list-style-type: none;
    text-align: left;
}
.left-menu li{
    display: inline-block;
    margin: -10px 20px;
}
.left-menu a{
    text-decoration: none;
    color: black;
}
.right-menu{
    list-style-type: none;
    text-align: right;
}
.right-menu li{
    display: inline-block;
    margin: -10px 20px;
}
.right-menu a{
    text-decoration: none;
    color: black;
}
/* BUTTONS */
.btn-blue{
    padding: 7px 18px;
    background-color: #0061ff;
    color: white;
    text-decoration: none;
}
.btn-medium{
    padding: 10px 20px;
}
.btn-big{
    padding: 10px 40px;
    text-align: center;
}

/* MAIN */

.container-top{
    width: 80%;
    margin: auto;
    text-align: center;
}
.container{
    width: 65%;
    margin: auto;
}
.jumbotron{
    background-color: #b4d0e7;
    width: 100%;
    height: 900px;
}
.jumbotron-content{
    padding: 80px 0px;
    text-align: left;
}
.jumbotron-content h1{
    font-size: 85px;
}

/* Advantages */

.advantages .col-image{
    width: 70%;
    position: relative;
    margin-bottom: 100px;
}
.advantages .col-text{
    width: 30%;
    padding-right: 30px;
    text-align: left;
    font-size: 16px;
}
img{
    width: 100%;
}
.text{
    margin-bottom: 40px;
}
.sottotesto{
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 14px;
}
.arrow{
    font-size: 50px;
}
h2{
    font-size: 40px;
    text-align: left;
    padding: 50px 0px;
}
.fatturazione{
    vertical-align: middle;
}
.square{
    display: inline-block;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    position: relative;
    vertical-align: middle;
    margin-bottom: 4px;
    /* usare hover */
}
.square-blu{
    border: 5px solid #0061ff;
}
.square-gray{
    border: 1px solid gray;
}
.periodo{
    margin-right: 20px;
}
/* COLONNE MAIN */
.benefits{
    width: 28%;
    border: 1px solid #d4d4d7;
    margin-right: 5%;
    margin-top: 40px;
}
.head{
    border-bottom: 1px solid #d4d4d7;
    height: 50px;
    text-align: center;
    padding-top: 15px;
}
/* CONTENUTO COLONNE */
.benefits-col{
    padding: 30px;
}
h3{
    font-size: 28px;
    margin: 8px 0px;
}
h4{
    margin: 12px 0px;
}
.color-mese{
    color: #697986;
}
.top-lyst{
    margin-top: 30px;
    list-style-type: none;
}
li{
    font-size: 14px;
    padding: 15px 0px;
    padding-left: 20px;
}
ul{
    margin-bottom: 50px;
}
.icon{
    margin-left: -15px;
}
.buy{
    padding-top: 40px;
}
.color-buy{
    color: #0765ff;
    text-decoration: none;
}
.line{
    width: 56px;
    height: 1px;
    border: 1px solid #d4d4d7;
    margin: 40px 0px;
}
.bottom-lyst{
    list-style-type: none;
}
.fa-check{
    color: #0061ff;
}
/* enterprise */
.enterprise{
    width: 100%;
    border: 1px solid #d4d4d7;
    margin-top: 60px;
    margin-bottom: 120px;
}
.enterprice-left{
    width: 65%;
    line-height: 30px;
    margin-left: 30px 0px 30px 0px;
    height: 180px;
}
.enterprice-right{
    width: 35%;
    text-align: center;
    line-height: 130px;
    height: 180px;
}
.size-span{
    font-weight: normal;
    font-size: 15px;
}
.enterprice-left-content{
    padding: 30px 0px 0px 30px;
}
/* FINE COLONNE */
.partner{
    padding-top: 80px;
}
.partner .col-image{
    width: 50%;
    margin-bottom: 50px;
}
.partner .col-text{
    width: 45%;
    padding-left: 40px;
}
p{
    font-weight: normal;
    padding-top: 10px;
}
.business{
    width: 28%;
    margin-right: 5%;
    padding-bottom: 120px;
}
.color-paper{
    color: black;
}
.main-bottom{
    width: 50%;
    text-align: left;
}
.color-a{
    color: #0765ff;
}
.disign{
    margin-top: 80px;
}
.col-logo{
    width: 450px;
    height: 450px;
}
.col-texts{
    width: calc(100% - 900px);
    height: 450px;
    background-color: #f5f5f5;
    padding: 50px;
}
.big-box img{
    padding-right: 500px;
}
.author{
    padding-top: 50px;
}
.box{
    width: 225px;
    height: 225px;
}
.box img{
    filter: invert(1);
    padding: 70px 50px;
}
.box-green{
    background-color: #a2d39b;
    border: 10px solid #d0e9cd;
    padding-top: 30px;
}
.box-bordeaux{
    background-color: #61082b;
}
.box-celeste{
    background-color: #0093ce;
    padding-top: 30px;
}
.box-orange{
    background-color: #ff1c1c;
}
.box-red{
    background-color: #d5001f;
}
.box-indaco{
    background-color: #b4d0e7;
    padding-top: 30px;
}
.box-blue{
    background-color: #0d2481;
}
.box-yellow{
    background-color: #ffd830;
}
/* PROVA */
.prova{
    width: 100%;
    margin-bottom: 120px;
}
.box-left{
    width: 60%;
    padding: 100px 250px;
    height: 300px;
    background-color: #b4d0e7;
    font-size: 45px;
    /* line-height: 300px; */
    text-align: left;
    color: #61082b;
}
.box-right{
    width: 40%;
    height: 300px;
    background-color: #b4d0e7;
    text-align: center;
    line-height: 300px;
}
.text{
    background-color: white;
    padding: 10px 55px;
}
.lyst-domande-frequenti{
    list-style-type: none;
    margin-left: -20px;
    line-height: 60px;
}
.border{
    border-top: 1px solid #e2e2e4;
    border-bottom: 1px solid #e2e2e4;
    font-size: 16px;
}
.domande-frequenti{
    margin-bottom: 100px;
}
.fa-chevron-down{
    float: right;
    padding-right: 25px;
    padding-top: 15px;
}
/* FOOTER */
footer{
    background-color: black;
    color: white;
}
.bottom{
    display: inline-block;
}
.link-lyst{
    list-style-type: none;
    font-weight: normal;
    margin-top: 80px;
    margin-left: 140px;
    line-height: 10px;
}
.last-lyst{
    padding-bottom: 79px;
}
.color-link{
    text-decoration: none;
    color: white;
}
.line-large{
    width: 160px;
    height: 1px;
    border: 1px solid #999999;
    margin-left: 120px;
    margin-bottom: 50px;
}
.language{
    font-weight: normal;
    color: #999999;
    margin-left: 160px;
    margin-bottom: 40px;
}