/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans',sans-serif;
    font-weight: bold;
}


/* Layout generic classes */
.col{
    float: left;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/* HEADER */
header{
    height: 100px;
    background-color: white;
}
nav{
    line-height: 100px;
}
.logo img{
    vertical-align: middle;
    padding: 0px 20px;
}
/* MENU */
.logo{
    width: 10%;
    margin: auto;
}
.menu{
    width: 45%;
}
.left-menu{
    list-style-type: none;
    text-align: left;
}
.left-menu li{
    display: inline-block;
    margin: 3px 20px;
}
.left-menu a{
    text-decoration: none;
    color: black;
}
.right-menu{
    list-style-type: none;
    text-align: right;
}
.right-menu li{
    display: inline-block;
    margin: 3px 20px;
}
.right-menu a{
    text-decoration: none;
    color: black;
}
/* BUTTONS */
.btn-small {
    padding: 2px;
}
.btn-blue{
    padding: 7px 18px;
    background-color: #0061ff;
}

/* MAIN */

.container{
    width: 80%;
    margin: auto;
    text-align: center;
}
.jumbotron{
    background-color: #b4d0e7;
    width: 100%;
}
.jumbotron-content{
    padding: 80px 0px;
    text-align: left;
}
.jumbotron-content h1{
    font-size: 85px;
}

/* Advantages */

.advantages .col-image{
    width: 70%;
    position: relative;
}
.advantages .col-text{
    width: 30%;
    padding-right: 30px;
    text-align: left;
}
